name: Mend Scan

on:
  workflow_dispatch:

jobs:
  mend-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Mend CLI
        run: |
          curl -LO https://downloads.mend.io/cli/linux/mend
          chmod +x mend
          sudo mv mend /usr/local/bin/mend

      - name: Run Mend Scan
        env:
          MEND_API_TOKEN: ${{ secrets.MEND_API_TOKEN }}
          MEND_EMAIL: "YOUR_EMAIL@DOMAIN.COM"
          MEND_PRODUCT_NAME: "AIGoat"
          MEND_PROJECT_NAME: "AIGoat"
        run: |
          mend init
          mend dep scan --product "$MEND_PRODUCT_NAME" --project "$MEND_PROJECT_NAME"
