name: Mend Scan

on:
  workflow_dispatch:

jobs:
  mend-scan:
    runs-on: windows-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout Repo
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

      # Step 2: Download Mend CLI
      - name: Download Mend CLI
        run: |
          Invoke-WebRequest -Uri "https://downloads.mend.io/cli/windows_amd64/mend.exe" -OutFile "mend.exe"

      # Step 3: Test CLI binary
      - name: Test Mend CLI
        run: |
          .\mend.exe --version

      # Step 4: Run dependency scan
      - name: Run Mend Scan
        env:
          MEND_ACCESS_KEY: ${{ secrets.MEND_ACCESS_KEY }}
        run: |
          .\mend.exe dep scan --product "AIGoat" --project "AIGoat"
