name: Mend Scan

on:
  workflow_dispatch:

jobs:
  mend-scan:
    runs-on: windows-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Mend CLI
        run: |
          Invoke-WebRequest -Uri "https://downloads.mend.io/cli/windows/mend.exe" -OutFile "mend.exe"

      - name: Test Mend CLI
        run: |
          .\mend.exe --version

      - name: Run Mend Scan
        env:
          MEND_ACCESS_KEY: ${{ secrets.MEND_ACCESS_KEY }}
        run: |
          .\mend.exe dep scan --product "AIGoat" --project "AIGoat"
