name: Mend Scan

on:
  workflow_dispatch:

jobs:
  mend-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Mend CLI
        run: |
          curl -L https://downloads.mend.io/cli/mend-linux-latest -o mend
          chmod +x mend
          sudo mv mend /usr/local/bin/mend

      - name: Run Mend Scan
        env:
          MEND_API_TOKEN: ${{ secrets.MEND_API_TOKEN }}
        run: |
          mend auth login --token "$MEND_API_TOKEN"
          mend dep scan --product "AIGoat" --project "AIGoat"
