name: Mend Scan

on:
  workflow_dispatch:

jobs:
  mend-scan:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Mend Scan
        uses: mend/github-action@v2
        with:
          product: "AIGoat"
          project: "AIGoat"
        env:
          MEND_ACCESS_KEY: ${{ secrets.MEND_ACCESS_KEY }}
